<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="stylesheet" href="../../public/css/jass.css">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
</head>

{{!-- navbar --}}
<body class="flex-column min-vh-100">
  <div class="hero display-flex justify-space-between align-center p-2">
    <nav class="nav-list">
      <a href="#">Home</a>
      <a href="#">Dashboard</a>
      <a href="#">Logout</a>
    </nav>
  </div>

{{!-- title --}}
  <header class="hero">
    <h1 class="app-title">The Tech Blog</h1>
    <p>Search for a GitHub user or click on a language to see a list of repositories and how many open issues they have!
    </p>
  </header>

{{!-- Content --}}
  <main class="container container fluid mt-5">
    <div class="row mb-4 project">
      {{{ body }}}
    </div>
  </main>

</body>
</html>